# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
venv311/
.env

# -----------------------------
# Data files (videos/datasets)
# -----------------------------
data/
*.mp4
*.avi
*.mov

# -----------------------------
# Output files
# -----------------------------
outputs/
*.jpg
*.png

# -----------------------------
# Model weights (optional)
# -----------------------------
yolov8n.pt

# -----------------------------
# VS Code / Editor files
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db